* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  list-style: none;
  font-family: sans-serif, "Roboto";
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  position: absolute;
  height: 330px;
  width: 330px;
  border-radius: 50%;
  background: linear-gradient(#08ffe6, #fcd200);
  transform: translate(-490px, -150px);
}
.container::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(#fcd200, #fc002e);
  transform: translate(490px, 170px);
}
.container .ball-1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #04f504;
  transform: translate(-250px, 200px);
  position: absolute;
}
.container .ball-2 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #08e2ff;
  transform: translate(-10px, -220px);
  position: absolute;
}
.container .ball-3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ffc404;
  transform: translate(150px, 250px);
  position: absolute;
}
.container .box {
  height: 86vh;
  width: 75%;
  padding-left: 2%;
  padding-right: 2%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(25px);
  box-shadow: -15px 17px 17px rgba(10, 10, 10, 0, 25);
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
  border-radius: 10px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
  margin-left: 50px;
}
.col h1 {
  font-size: 50px;
}
.col p {
  margin-top: 30px;
  font-size: 20px;
}
.btn {
  margin-top: 40px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.card {
  width: 200px;
  height: 450px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  margin-left: 40px;
}
.card:hover {
  transition: 0.3s;
  transform: scale(0.96);
}
.card1 {
  height: 300px;
  border-radius: 10px;
}
.card2 {
  height: 300px;
  border-radius: 10px;
}
.title {
  font-size: 18px;
}
